@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

:root {
  /* Colors */
  --fnt-clr-primary: #fff;
  --primary-clr: #f8daea;
  --secondary-clr: #8b687f;
  --tertiary-clr: #fff;

  /* Fonts */
  --fnt-primary: 'Roboto-Regular';
  --fnt-primary-bld: 'Roboto-Bold';
  --fnt-primary-light: 'Roboto-Light';
}

.data-collection-container {
  min-width: 800px;
  width: 1000px;
  background-color: var(--primary-clr);
}

/* Header Content */
header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary-clr);
  color: var(--fnt-clr-primary);
  padding: 40px 20px;
}

h1 {
  font-size: 3rem;
  font-family: var(--fnt-primary-bld);
}

header > p:nth-child(2) {
  font-size: 1.5rem;
  font-family: var(--fnt-primary-light);
}

/* Category Container Component */
.category-container {
  display: inline-block;
  padding: 5px 25px;
  background-color: var(--secondary-clr);
  color: var(--fnt-clr-primary);
  font-family: var(--fnt-primary-bld);
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.default-input {
  margin: auto 25px;
  padding: 0 20px 0 20px;
  height: 35px;
  background-color: var(--tertiary-clr);
  border-radius: 10px;
  font-family: var(--fnt-primary);
}

.default-input > input:nth-child(2) {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline-style: none;
  font-size: 0.9rem;
}

.default-input > input:nth-child(2)::placeholder {
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 50px;
}

/* Img Input */

.img-input {
  position: relative;
  margin: 15px 25px;
  padding: 0 0 0 0;
  overflow: hidden;
}

/* Moved to the left -100px to prevent non-cursor that appears on the file button */
.img-input > input:nth-child(2) {
  opacity: 0;
  position: absolute;
  width: 200%;
  left: -100px;
  cursor: pointer;
}

.img-input > p:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  font-size: 0.9rem;
  color: #777777;
  cursor: pointer;
  pointer-events: none;
}
